<!--{% extends 'base.html' %}
{% load static %}
{% block body %}-->
<!DOCTYPE html>
<html lang="en">
        <head>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!--{% load static %}-->
            <meta name="description" content="Nogozo">
            <meta name="author" content="Anuj Sharma">
            <meta property="og:site_name" content="NOGOZO" /> <!-- website name -->
            <meta property="og:site" content="www.nogozo.com" /> <!-- website link -->
            <meta property="og:title" content="NOGOZO"/> <!-- title shown in the actual shared post -->
            <meta property="og:description" content="India's First Local Market E-Commerce Company" /> <!-- description shown in the actual shared post -->
            <meta property="og:image" content="../images/nogozopreview.jpg" /> <!-- image link, make sure it's jpg -->
            <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
            <meta property="og:type" content="article" />
            <title>NOGOZO</title>
            <link rel="stylesheet" type="text/css" href="CSS/style.css">
            <link rel="stylesheet" type="text/css" href="CSS/comming.css">
            <link rel="stylesheet" type="text/css" href="CSS/contact.css">
            <link rel="stylesheet" type="text/css" href="CSS/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="CSS/swiper.css">
            <link rel="stylesheet" type="text/css" href="CSS/fontawesome-all.css">
            <link rel="stylesheet" type="text/css" href="CSS/magnific-popup.css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
            
            <link rel="icon" href="../images/favicon.jpg">
        
            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172442704-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-172442704-1');
        </script>
        </head>
        <body data-spy="scroll" data-target=".fixed-top">
            <!--div class="spinner-wrapper">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div-->
            <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top" style="background-color: black;">
                <a class="navbar-brand logo-image" href="index.html"><img src="../images/logo.png" style="opacity: 70%; width: 90px;" alt="alternative"></a> 
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-awesome fas fa-bars"></span>
                    <span class="navbar-toggler-awesome fas fa-times"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="../html/index.html" style="font-size:13px;">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="index.html" style="font-size:13px;">FEATURES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="index.html" style="font-size:13px;">HOW WE WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="index.html" style="font-size:13px;">ENTERTAINMENT</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:13px;">CONTACT US</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../html/contact.html"><span class="item-text">FOR USERS</span></a>
                                <div class="dropdown-items-divide-hr"></div>
                                <a class="dropdown-item" href="../html/merchantcontact.html"><span class="item-text">FOR MERCHANTS</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav> 
           <!--- {% block body %}
            {% endblock %} -->
           
            
            <script src="../js/jquery.min.js"></script>
            <script src="../js/popper.min.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <script src="../js/jquery.easing.min.js"></script>
            <script src="../js/swiper.min.js"></script>
            <script src="../js/jquery.magnific-popup.js"></script>
            <script src="../js/morphext.min.js"></script>
            <script src="../js/validator.min.js"></script>
            <script src="../js/script.js"></script>
        
             <script src="https://kit.fontawesome.com/1d8298542f.js" crossorigin="anonymous"></script>
       
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/comming.css">
        <link rel="stylesheet" type="text/css" href="../css/contact.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/swiper.css">
        <link rel="stylesheet" type="text/css" href="../css/fontawesome-all.css">
        <link rel="stylesheet" type="text/css" href="../css/magnific-popup.css">
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

<header id="header" class="header">
        <div>
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <section class="animated wow zoomIn" data-wow-duration="1s">
                            <h1><b>APNA WALA<br>E-BAZZAR FOR</b> <br> <span id="js-rotating">BUYERS, MERCHANTS, HOME BUSINESSES</span></h1>
                            <p class="p-large">NO need to GO when you have NOGOZO! <br> India’s First Advanced Local E-Market Platform On Your Fingertips.</p>
                            <a class="btn-solid-lg page-scroll animated wow flash" data-wow-delay="1s" href="../html/comming.html"><i class="fab fa-google-play"></i>PLAY STORE</a>
                            </section>
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="image-container">
                            <section class="animated wow flash" data-wow-duration="1s">
                            <img class="img-fluid" src="../images/loading.png" alt="alternative">
                        </section>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>
    </div>  
    </header>
    
    <div id="features" class="tabs animated wow fadeInUp" data-wow-offset="80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-block">
                        <section class="main-heading animated wow slideInDown" data-wow-duration="3s">
                    <h2 style="color: aqua" style="align-items: center;">FEATURES</h2>
                    <div class="p-heading p-large">NOGOZO provides its users a plethora of advanced features and valuable multifunctional assets for its Buyers, Merchants, Servicemen and home businesses.</div>
                    </section>
                </div> 
            </div>
            </div> 
            <div class="row">
                <ul class="nav nav-tabs" id="lenoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-users"></i>CUSTOMERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-store"></i>MERCHANTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-home"></i>HOME BUSINESS</a>
                    </li>
                </ul>
                <div class="tab-content" id="lenoTabsContent">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-lg-4">
                                    <div class="card left-pane first">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">All in One E-Market</h4>
                                                <p>Easy interface access to every Departmental store, Groceries, Dairy, Stationary, Plumbers, and many other essentials on your fingertips.</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-compass"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Saves Money</h4>
                                                <p>Compare the rates of the same product from multiple shops and find the best deal for you and save your extra expenses easily.</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="fas fa-rupee-sign"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Hassle-Free Shopping</h4>
                                                <p>Now shopping is easier than ever, just build a cart online and place the order. Avoid the crowd and pick your order in seconds in place of hours in shop queues.</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-gem"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <img class="img-fluid" src="../images/loading.png" alt="alternative">
                               
                                </div>
                                <div class="col-lg-4">
                                    <div class="card right-pane first">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-file-medical"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Health Care</h4>
                                                <p>We protect you from CoronaVirus & Scorching Summer by helping you to avoid the close crowd contact or harsh weather conditions.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card right-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-truck"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Flash Delivery</h4>
                                                <p>We value your time and thus provide flash delivery at your doorstep in even less than an Hour.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card right-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Free Entertainment</h4>
                                                <p>Waiting for the order to get delivered? Read interesting news, facts, blogs in diverse fields, and keep yourself entertained.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-4">
                                    <img class="img-fluid" src="../images/loading.png" alt="alternative">
                              
                                </div>

                                <div class="col-md-8">
                                    <div class="text-area">
                                        <h3>Accelerate your business exponentially with us!</h3>
                                        <p>Upgrade your Business and experience the future marketing at our platform with comfort.</p>
                                    </div> 
                                    <div class="icon-cards-area">
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="fas fa-walking"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Multiply Your Customers</h4>
                                                    <p>Dive in Humongous Online Market and Digitalize your Business with us to expand your consumer network beyond your streets at a rapid rate.</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="fas fa-users"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Easy Crowd Handling</h4>
                                                    <p>We will help you get the orders online so that you can pack the items beforehand, and handle the crowd effortlessly with no risk of corona spread and nuisance.</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-calendar-check"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Free Advertising Of Your Products</h4>
                                                    <p>Got an item you want to sell? Advertise your product on our app and find the customers willing to buy the product. Make your brand with us effortlessly!</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="fas fa-rupee-sign"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Additional Income Source</h4>
                                                    <p>Get additional customers from our app and sell the products online to add another income source in your arsenal. Also, we provide you multi conventional options for further treasure boost.</p>
                                                </div>
                                            </div>
                                    </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-rupee-sign"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Free Business Platform</h4>
                                                <p>We provide you an excel platform to equally stand with the market and grow your dream business digitally with us for absolutely no cost.</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-walking"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Multiply Your customers</h4>
                                                <p>Expand your reach of customers beyond the neighbors to get new customers resulting in Customer chain advertisement and tons of orders.</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Express Earning Opportunity</h4>
                                                <p>Increase your earnings exponentially on our platform to earn faster than your imagination.</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Showcase Your every product/service</h4>
                                                <p>Showcase your home business and make a brand value and name with us to flaunt in the market with confidence.</p>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    <div class="text-area">
                                        <h3>Build your home business with us and generate fancy revenue.</h3>
                                        <p>An exceptional opportunity for the house businesses to build their shops without any investment boost of customers beyond the neighborhood.</p>
                                    </div> 
                                </div> 
                                <div class="col-md-4">
                                    <img class="img-fluid" src="../images/loading.png" alt="alternative">
                            
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 

     
    <div id="preview" class="basic-1 tabs animated wow fadeInUp" data-wow-offset="80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <section class="main-heading animated wow slideInDown" data-wow-duration="3s">
                    <h2 style="color: aqua;">INTRODUCTION</h2>
                    </section>
                    <div class="p-heading p-large"></div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-lg-12">

                    <div class="image-container animated wow flash">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=BRnom86suJs" data-effect="fadeIn"></a>
                                <img class="img-fluid" src="../images/video-frame.jpg" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                          
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>  

    <div id="details" class="basic-2 tabs animated wow fadeInUp" data-wow-offset="80">
        <div class="container" >
            <section class="animated wow slideInDown" data-wow-duration="3s">
            <h2 style="color: aqua;"> HOW WE WORK</h2> 
            <div class="p-heading p-large" style="font-size: medium;">We provide you with the easiest interface to browse your city shops and help you get the best deals at your doorstep.</div>
            </section>
            <div class="row animated wow slideInRight" data-wow-duration="1s">
    
                <div class="col-lg-6">
                    <img class="img-fluid" src="../images/details-1.png" alt="alternative">
           
                </div> 
            
                
                <div class="col-lg-6" >
                    <div class="text-container">
                        <h2>Pin Your Location</h2>
                        <p style="font-size: medium;">We access your location to provide you the simplified web of nearby shops/services available in the area.</p>
                       
                    </div> 
                </div> 
                </div>
            </div> 
        </div>  
    <div class="basic-3">
        
        <div class="second">
            
            <div class="container animated wow slideInLeft" data-wow-duration="1s">
               
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Build your Cart</h2>
                            <p style="font-size: medium;">We got a crowd of products to satisfy your every inch need. Search for the items you wish and build the cart online.</p>
                          
                        </div> 
                    </div> 
                    <div class="col-lg-6">
                        <img class="img-fluid" src="../images/details-2.png" alt="alternative">
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="basic-3">
        <div class="second">
            <div class="container animated wow slideInRight" data-wow-duration="1s">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="../images/details-3.png" alt="alternative">
                   
                    </div>
    
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Place your order</h2>
                            <p style="font-size: medium;">Select the best deal in the market and place your order while relaxing on your fluffy couch.</p>
                        </div> 
                    </div> 
                    </div>
                </div> 
            </div> 
        </div> 
    <div class="basic-3">
        <div class="second">
            <div class="container animated wow slideInLeft" data-wow-duration="1s">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container" >
                            <h2>Pick Convenient Delivery option</h2>
                            <p style="font-size: medium;">Your convenience is our priority. You can either opt for self-delivery or home delivery with flexible payment options. We deliver your needs within minutes at your doorstep.</p>
                        </div> 
                    </div> 
                    <div class="col-lg-6">
                        <img class="img-fluid" src="../images/details-4.png" alt="alternative">
                 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 

    <div class="slider-2 tabs animated wow fadeInUp" data-wow-offset="80">
        <div class="container">
            <section class="main-heading animated wow slideInDown" data-wow-duration="3s">
            <h2 style="color: aqua;">SCREENSHOTS</h2> <br><br>
            </section>
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                
                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/1.png" alt="alternative">
                                
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/2.png" alt="alternative">
                                    
                                </div>

                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/3.png" alt="alternative">
                                    
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/4.png" alt="alternative">
                                    
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/5.png" alt="alternative">
                                    
                                </div>
                                
                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/6.png" alt="alternative">
                                    
                                </div>

                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/7.png" alt="alternative">
                                    
                                </div>

                                <div class="swiper-slide">
                                        <img class="img-fluid" style="width: 25rem;" src="../images/8.png" alt="alternative">
                                    
                                </div>
                            </div>
                                
                            
                            
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            
                        </div> 
                    </div> 
                    
                </div> 
        </div>
        
    </div>  
</div>   

    <div class="basic-4 tabs animated wow fadeInUp" data-wow-offset="80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <section class="animated wow zoomInDown" data-wow-duration="1s">
                        <h2>NOGOZO NOW! <span class="blue"></span></h2>
                        <p class="p-large">What are you waiting for? Download NOGOZO now to surf in the future market and take numerous advantages and opportunities available at your fingertips.</p>
                        
                        <a class="btn-solid-lg animated wow bounce" data-wow-delay="1s" href="comming.html"><i class="fab fa-google-play"></i>PLAY STORE</a>
                    </section>
                      
                    </div> 
                    </div> 
         
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid animated wow flash" data-wow-delay="1s" src="../images/loading.png" alt="alternative">
                   
                    </div> 
                    </div>
                </div>
            </div> 
        </div> 
        <div class="footer tabs animated wow fadeInUp" data-wow-offset="80">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-col">
                            <section class="animated wow slideInUp" data-wow-delay="1s">
                            <h4 style="color: aquamarine;">About NOGOZO</h4>
                            <p>India's First Local Market E-Commerce Company</p>
                            <p><i class="fas fa-map-marker-alt"></i> Agra, Uttar Pradesh</p>
                            </section>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="footer-col middle">
                            <section class="animated wow slideInUp" data-wow-delay="2s">
                            <h4 style="color: aquamarine;">Important Links</h4>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body"><a style="color: aliceblue;">Read our </a><a class="turquoise" href="tnc.html">Terms & Conditions</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body"><a style="color: aliceblue;">Read our </a><a class="turquoise" href="privacy.html">Privacy Policy</a></div>
                                </li>
                            </ul>
                            </section>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="footer-col last">
                            <section class="animated wow slideInUp" data-wow-delay="3s">
                            <h4 style="color: aquamarine;">Social Media</h4>
                            <section class="animated wow flash" data-wow-delay="4s">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/nogozoofficial/">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/nogozocare/">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://www.linkedin.com/company/nogozocare/">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                            </section>
                            </section>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    
    </body>
    </html> 

    <!-- Statistics 
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="1684">1</div>
                            <p class="counter-info">Total Downloads</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="124">1</div>
                            <p class="counter-info">Active Merchants</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="1472">1</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="146">1</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
    -->


<!--    {% endblock %}-->
